@import 'assets/scss/app';

.rounded {
  border-top: 3px solid #bbb;
  border-radius: 5px;
  width: 95%;
  align-self: center;
  margin-bottom: 2em;
}

.walletsTitle {
  margin-top: 20px;
  color: $widget-title-color;
  padding-left: 20px;
  align-self: center;
}

.headerText {
  font-size: 20px;
}