@import 'assets/scss/app';

.root {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: radial-gradient(farthest-side ellipse at 10% 0, #333867 20%, #17193B);
  background-repeat: no-repeat;
  background-size: cover;

  i {
    font-size: 21px;
    margin: 0 $spacer;
    color: #17193B;
  }
}