service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId} {
      allow read, update, delete: if request.auth.uid == userId;
      allow create: if request.auth.uid != null;
    }
    match /residencies/{residency} {
      allow read;
      allow create, update, delete: if request.auth.uid != null;
    }
    match /mailingList/counter {
      allow read, update, delete;
    }
    match /mailingList/{field} {
      allow create, update;
    }
  }
}
