@import 'assets/scss/app';

.root {
  :global {
    .icon-list {
      margin-top: $spacer;
    }

    .icon-list-item {
      height: unquote("min(3vw, 30px)");
      font-size: unquote("min(3vw, 30px)");
      line-height: unquote("min(3vw, 30px)");
      background-color: rgba(0, 0, 0, 0.2);
      color: $white;
      cursor: pointer;

      > a {
        color: $white;
        text-decoration: none;
      }

      .glyphicon,
      .fa,
      .fi {
        width: unquote("min(3vw, 30px)");
        margin-right: 10px;
      }

      &:hover {
        .glyphicon,
        .fa,
        .fi {
          font-size: unquote("min(3vw, 30px)");
          top: 2px;
        }

        .fa,
        .fi {
          vertical-align: -5px;
        }

        .glyphicon {
          vertical-align: -6px;
        }
      }
    }
  }
}

.avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  height: 33px;
  width: 33px;
  font-weight: 600;
  font-size: 18px;
}

.institutionListItem {
  cursor: pointer;
}

.iconListItem {
  &:hover {
    color: grey;
  }
}


.navbarForm {

  .inputAddon {
    border: none;
    background-color: transparentize($text-transparent, 0.1);
    transition: background-color ease-in-out 0.15s;
  }

  input {
    font-size: unquote("min(2.5vw, 15px)");
    color: $white;
    background-color: transparentize($text-transparent, 0.1);
    border: none;
    padding: 0.6rem 0.85rem 0.6rem 1rem;
    min-height: 30px !important;

    &:focus {
      box-shadow: $input-box-shadow !important;
    }
  }
}

.header {
  margin-left: 1em;
}

.gridContainer {
  width: 95% !important;
  align-self: center;
}

.instructionText {
  vertical-align: middle;
  width: 95% !important;
  align-self: center;
}

.instructionContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.rounded {
  border-top: 3px solid #bbb;
  border-radius: 5px;
  width: 95%;
  align-self: center;
  margin-bottom: 2em;
}

.cardFooter {
  height: 2em;
  padding-top: 2em;
  padding-bottom: 2em;
  border-top: none;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
}

.halfCircle {
  width: 5em;
  height: 2.5em; /* as the half of the width */
  background-color: #262b4d;
  border-top-left-radius: 110px;  /* 100px of height + 10px of border */
  border-top-right-radius: 110px; /* 100px of height + 10px of border */
  margin-top: 20px;
  align-self: center;
  top: 7rem !important;
  position: relative;
  cursor: pointer;
}

.spin {
  -webkit-animation:spin 1s forwards;
  -moz-animation:spin 1s forwards;
  animation:spin 1s forwards;
  transition-property: transform;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(180deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(180deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(180deg); transform:rotate(180deg); } }