@import 'assets/scss/app';

.root {
  :global {
    .icon-list {
      margin-top: $spacer;
    }

    .icon-list-item {
      height: unquote("min(3vw, 30px)");
      font-size: unquote("min(3vw, 30px)");
      line-height: unquote("min(3vw, 30px)");

      > a {
        color: $white;
        text-decoration: none;
      }

      .glyphicon,
      .fa,
      .fi {
        width: unquote("min(3vw, 30px)");
        margin-right: 10px;
      }

      &:hover {
        .glyphicon,
        .fa,
        .fi {
          font-size: unquote("min(3vw, 30px)");
          top: 2px;
        }

        .fa,
        .fi {
          vertical-align: -5px;
        }

        .glyphicon {
          vertical-align: -6px;
        }
      }
    }
  }
}


.navbarForm {

  .inputAddon {
    border: none;
    background-color: transparentize($text-transparent, 0.1);
    transition: background-color ease-in-out 0.15s;
  }

  input {
    font-size: unquote("min(2.5vw, 15px)");
    color: $white;
    background-color: transparentize($text-transparent, 0.1);
    border: none;
    padding: 0.6rem 0.85rem 0.6rem 1rem;
    min-height: 30px !important;

    &:focus {
      box-shadow: $input-box-shadow !important;
    }
  }
}
