@import 'assets/scss/app';

.gridContainer {
  width: 95% !important;
  align-self: center;
}

.title {
  font-size: medium;
  color: white;
  text-align: center;
  align-self: center;
  margin-bottom: 2rem;
}