@import 'assets/scss/app';

.root {
  :global {
    .stat-item .name {
      margin-top: 10px;
    }

    .list-group-item:hover {
      background-color: $bg-addition;
    }

    .detail {
      .x_label {
        background: $widget-bg-color !important;
      }
    }
  }
}

.title {
  margin-top: 0px;
  color: $widget-title-color;
  padding-left: 30px;

  @include clearfix();
}

.settingsTitle {
  margin-top: 20px;
  color: $widget-title-color;
  padding-left: 20px;
}

.inputContainer {
  margin-top: 0;
  padding-left: 30px;
}

.table {
  :global(.table.table-sm) {
    td {
      font-size: 1rem;
      vertical-align: middle;
    }
  }
}

.searchBtn {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
  
.notificationIcon {
  bottom: 0.5em;
  display: flex !important;
  justify-content: center !important;
  @include clearfix;
}

.lineItem:hover td {
  color: white;
}

.cell {
  text-align: center;
  align-self: center;
}

.gridContainer {
  width: 95% !important;
  align-self: center;
  overflow: hidden;
}

.addWidgetIcon {
  font-size: 2rem !important;
}

.addText {
  margin-left: 1rem;  
  font-size: 1.2rem !important;
}