@import 'assets/scss/app';

.root {
  :global {
    .icon-list {
      margin-top: $spacer;
    }

    .icon-list-item {
      height: 32px;
      font-size: 14px;
      line-height: 32px;

      > a {
        color: $white;
        text-decoration: none;
      }

      .glyphicon,
      .fa,
      .fi {
        width: 32px;
        margin-right: 10px;
      }

      &:hover {
        .glyphicon,
        .fa,
        .fi {
          font-size: 28px;
          top: 2px;
        }

        .fa,
        .fi {
          vertical-align: -5px;
        }

        .glyphicon {
          vertical-align: -6px;
        }
      }
    }
  }
}

span {
  color: white;
}

i {
  color: white;
}

.header {
  margin-left: 1em;
}

.gridContainer {
  width: 95% !important;
  align-self: center;
}

.internalGridContainer {
  width: 100%;
  align-self: center;
}

.instructionText {
  vertical-align: middle;
  width: 95% !important;
  align-self: center;
}

.instructionContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.rounded {
  border-top: 3px solid #bbb;
  border-radius: 5px;
  width: 95%;
  align-self: center;
  margin-bottom: 2em;
}

.email-icon {
  font-size: 30px !important;
}
